@import 'grid';
@import 'mixins';

html,
body {
    color: #555;
    font-family: 'Roboto','Railway',sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 92%;
}

#logo {
    height: auto;
    margin: 30px 0;
    max-width: 100%;
}
nav {
    text-align: center;
    ul {
        font-size: 0;
        li {
            border-bottom: solid 1px #b6b6b6;
            display: inline-block;
            list-style: none;
            padding: 15px 45px;
            a {
                color: #b6b6b6;
                font-size: 16px;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }
}

section {
    min-height: 80vh;
}

section.hero {
    height: 80vh;
    margin-top: 80px;
    h3 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.6;
        padding: 0 55vw;
    }
}

nav.not-scrolled {
    position: relative;
    top: 0;
}
nav.scrolled {
    background: white;
    position: fixed;
    top: 0;
    width: 92%;
}


footer{
    background: red;
}
