@import 'grid';
@import 'mixins';
@import 'modal';
@import './less/font-awesome';

html,
body {
  color: #555;
  font-family: 'Roboto', 'Railway', sans-serif;
  line-height: 1.6em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

#logo {
  height: auto;
  margin: 30px 0;
  max-width: 100%;
}

div.container {
  margin: 40px auto 0;
  max-width: 75%;
  padding: 30px 0 0 0;
  flex: 1;
}

nav {
  text-align: center;
  margin: 0 !important;
  ul {
    border-bottom: solid 1px #b6b6b6;
    font-size: 0;
    li {
      display: inline-block;
      list-style: none;
      padding: 15px 45px;
      a {
        color: #555;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

section {
  min-height: 100vh;
}

section.hero {
  height: ~'calc(100vh - 190px)';
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  .hero-bg {
    background: url(../images/Foto_Estudio_Mariconde_Diaz_Centeno.jpg) no-repeat center;
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
    left: 0;
    min-height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
  }
  div {
    clear: both;
  }
  h3 {
    text-align: center;
    color: snow;
    float: initial;
    font-size: 55px;
    font-weight: lighter;
    line-height: 1.6;
    text-shadow: 1px 1px 1px #999;
    z-index: 1;
    span {
      font-size: 44px;
    }
  }
  img {
    height: auto;
    margin-left: 15%;
    max-width: 75%;
  }
}

.not-scrolled {
  position: relative;
  top: 0;
}

.scrolled {
  background: #efefef;
  //box-shadow: 0 2px 5px #999;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fixed {
  background: #efefef;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#areas {
  .hero-bg {
    background: url(../images/EJEMPLO.jpg) no-repeat center;
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
    min-height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  color: white;
  ul {
    margin-top: 30px;
  }
  li {
    font-size: 18px;
    font-weight: 300;
    list-style: none;
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    filter: none;
    a {
      color: white;
      text-decoration: none;
      margin-left: 10px;
      &:hover {
        text-decoration: underline;
      }
    }

  }
  h2 {
    color: white;
    font-size: 32px;
    font-weight: 300;
  }
}

#socios {
  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  img {
    border-radius: 100%;
    height: 120px;
    width: 120px;
  }

  h2 {
    font-size: 32px;
    font-weight: 300;
  }
  h4 {
    font-weight: lighter;
  }
  p {
    font-size: 12px;
    font-weight: 300;
  }
  .nombre {
    max-width: 50%;
    a {
      color: #555;
      text-decoration: none;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#estudio {
  li {
    list-style: none;
    margin-bottom: 60px;
  }
  img {
    border-radius: 100%;
    clear: both;
    float: left;
    height: 70px;
    margin: auto;
    width: 70px;
  }

  h2 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    & + p {
      margin-top: 15px;
    }
  }
}

footer {
  border-top: solid 5px white;
  background: #333;
  color: white;
  max-width: 1440px;
  .footer-content {
    padding: 20px 0;
  }
  h3 {
    font-weight: lighter;
    margin-bottom: 16px;
  }
  i {
    margin: 0 20px 0 0;
    vertical-align: middle;
  }
  ul li {
    list-style: none;
    margin-bottom: 15px;
  }
  input,
  textarea {
    margin-bottom: 15px;
    padding: 2px 7px;
    width: 200px;
  }
  textarea {
    height: 50px;
    vertical-align: top;
  }
}

#colaboradores {
  .hero-bg {
    background: url(../images/602.jpg) no-repeat center;
    background-size: cover;
    filter: grayscale(100%) brightness(50%);
    min-height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  color: white;
  h2 {
    font-size: 32px;
    font-weight: 300;
  }
}

@media screen and (max-width: 667px) {
  #logo,
  .container,
  .footer-content {
    padding: 0 10px;
  }

  header #logo {
    margin: 15px 0;
    width: 80%;
    max-width: 300px;
  }

  section.hero {
    h3 {
      font-size: 34px;
      span {
        font-size: 30px;
      }
    }
  }

  header nav {
    display: none;
  }

  .container h2 {
    .center-text;
    margin-bottom: 30px;
  }

  .mobile.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 10px 0;
    width: 100%;
  }

  #areas ul {
    margin-top: 0;
  }

  footer .footer-content {
    padding: 20px 10px;
    input,
    textarea {
      width: 100%;
      order: 2;
      padding: 7px 12px;
    }
    .input-field {
      display: flex;
      flex-direction: column;
    }
    label {
      display: block;
      order: 1
    }
  }
}