@import 'grid';
@import 'mixins';

html,
body {
    color: #555;
    font-family: 'Roboto','Railway',sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 92%;
}

#logo {
    height: auto;
    margin: 30px 0;
    max-width: 100%;
}
nav {
    text-align: center;
    ul {
        font-size: 0;
        li {
            border-bottom: solid 1px #b6b6b6;
            display: inline-block;
            list-style: none;
            padding: 15px 45px;
            a {
                color: #b6b6b6;
                font-size: 16px;
                font-weight: 300;
                text-decoration: none;
            }
        }
    }
}

section {
    min-height: 80vh;
}

section.hero {
    height: 80vh;
    margin-top: 80px;
    h3 {
        font-size: 36px;
        font-weight: 300;
        line-height: 1.6;
        padding: 0 15vw;
    }
}

nav.not-scrolled {
    position: relative;
    top: 0;
}
nav.scrolled {
    background: white;
    position: fixed;
    top: 0;
    width: 92%;
}
#areas{
    background-color: lightpink;
    max-width: 75%;
    margin: auto;
    li{
        margin-bottom: 20px;
        list-style: none;
    }
}
#colaboradores{
    margin: auto;
    max-width: 75%;
    li{
        margin-bottom:60px;
        list-style:none;
    }
    img{
        width: 50px;
        height: 50px;
        float: left;
        border: 50%;
        }
}



footer {
    background: #333;
    color: white;
    max-width: 1440px;
    .footer-content {
        margin: auto;
        padding: 20px 0;
        width: 75%;
    }
    h3 {
        font-weight: lighter;
        margin-bottom: 15px;
    }
    i {
        margin: 0 20px 0 0;
        vertical-align: middle;
    }
    ul li {
        list-style: none;
        margin-bottom: 15px;
    }
    input,
    textarea {
        margin-bottom: 15px;
        padding: 2px 7px;
        width: 180px;
    }
    textarea {
        height: 50px;
        vertical-align: top;
    }
}
